.section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

#hi {
  min-height: 100vh;
  flex-direction: column;
}

.hi-text {
  width: 75%;
  text-align: center;
  margin-top: 50px;
}

.icons {
  width: 100%;
  justify-content: center;
  display: flex;
}

.icon {
  padding: 0 50px;
  color: black; 
  transition: color 0.3s ease;
}

.icon:hover {
  color: var(--primary-color);
}

#about {
  min-height: 100vh;
  background: rgb(255, 255, 255);
}

#projects {
  height: 100vh;
}


