.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  padding: 80px 0 20px 0;
  width: 20%;
}

.blue-line{
  height: 8px;
  width: 200px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.cv-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: top;
}

.cv-container h1 {
  font-size: x-large;
}

/* cv-container children */

.cv-about {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: medium;
  padding: 20px;
}

.cv-skills {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: medium;
  padding: 20px;
}

/* cv-skills children */

.skill-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill-details {
  display: flex;
}

/* skill-list children */

.skill-list button {
  background: rgb(231, 231, 231);
  height: 40px;
  margin: 0 10px 10px 0;
  font-size: medium;
  color: rgb(79, 79, 79);
  font-weight: 700;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: color 0.3s ease-in-out;
  text-align: left;
  padding: 0 20px 0 20px;
}

.skill-list button:hover {
  color: var(--primary-color);
}

.skill-list .selected-button {
  background: var(--primary-color);
  color: white;
}

.skill-list .selected-button:hover {
  color: white;
}

/* cv-download button */

.cv-download-button {
  display: flex;    
  justify-content: center; 
  align-items: center;
  width: 40%;   
  height: 80px;
  text-decoration: none; 
  padding: 0 0 50px 0;
}

.cv-download-button a {
  display: flex;    
  justify-content: center; 
  align-items: center;
  width: 100%;     
  text-decoration: none; 
}

.cv-download-button button {
  height: 80px;
  width: 90%;      
  border: none;
  background-color: var(--secondary-color);
  color: white;
  font-size: 22px;
  font-weight: 700;
  border-radius: 10px;
  transition: font-size 0.3s ease-in-out, height 0.1s ease-in-out, width 0.1s ease-in-out;
  cursor: pointer;   
  margin-top: 30px;
}

.cv-download-button button:hover {
  font-size: 24px;
  height: 75px;
  width: 85%
} 

