.cv-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: top;
  margin: 50px 50px 50px 20px;
  /* border: 1px solid black; */
}

/* ABOUT */

.cv-about {
  flex: 1;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.cv-about p {
  padding: 0 3% 0 3%;
}

.cv-about h1 {
  text-align: center;
}

.cv-download-button {
  display: flex;    
  justify-content: center; 
  align-items: center;
  width: 100%;   
  height: 100px;
  text-decoration: none; 
}

.cv-download-button a {
  display: flex;    
  justify-content: center; 
  align-items: center;
  width: 100%;     
  text-decoration: none; 
}

.cv-download-button button {
  height: 100px;
  width: 80%;      
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 22px;
  border-radius: 10px;
  transition: font-size 0.3s ease-in-out, height 0.1s ease-in-out, width 0.1s ease-in-out;
  cursor: pointer;   
  margin-top: 30px; 
}

.cv-about button:hover {
  font-size: 24px;
  height: 95px;
  width: 78%
}

/* SKILLS */

.cv-skills {
  flex: 1;
  font-size: 17px;
  display: flex;
  flex-direction: column;
}

.cv-section-title {
  text-align: center;
  flex: 1;
  font-size: 50px;
  /* position: relative; */
  color: black;
  /* transform: translateY(40%); */
}

.chevron {
  height: 40px;
  transform: translateY(35%); 
}

.skill-list {
  flex: 2;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  padding: 20px;
}

.skill-list li {
  margin: 5px 0; 
}

.skill-list button {
  /* background: rgb(168, 168, 168); */
  height: 50px;
  margin: 3px;
  font-size: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: color 0.3s ease-in-out;
  text-align: left;
}

.skill-list button:hover {
  color: var(--primary-color);
}

.skill-list .selected-button {
  background: var(--primary-color);
  color: white;
}

.skill-list .selected-button:hover {
  color: white;
}

.skill-details {
  flex: 2;
  padding: 30px 10% 0 10%;
  font-size: 17px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: top; 
}

.skill-details li {
  list-style-type: none;
}