:root {
  --primary-color: #0010FF;
  --primary-highval: #4754FF;


  --secondary-color: #FF005E;
  --tertiary-color: #E5FF1F;
  --tertiary-highval: #EEFF70;

  --white-color: #F2F2F2;
  --black-color: #323232;
}


* {
  font-family: 'Public Sans', sans-serif;
  line-height: 1.6;
}

body {
  background-color: var(--white-color);
  color: black;
}
