:root {
  --primary-color: #0010FF;
  --primary-highval: #4754FF;


  --secondary-color: #FF005E;
  --ternary-color: #E5FF1F;
  --ternary-highval: #EEFF70;

  --white-color: #F2F2F2;
  --black-color: #323232;
}

/* Example usage of color variables */

* {
  font-family: 'Public Sans', sans-serif;
}

body {
  background-color: var(--white-color);
  /* color: var(--black-color);  */
  color: black;
  /* padding: 0; */
  /* margin: 0; */
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

/* .dark {
  background: var(--black-color);
  color: white
} */